@import url('../../node_modules/tabulator-tables/dist/css/tabulator.min.css');
@import url('../../node_modules/select2/dist/css/select2.min.css');
@import url('slideout_index.css');
@import url('slideout_test.css');
@import url('checkbox.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* multi-select style */
.select2-results__options{
   font-size:small;
}

.select2-selection--single .select2-selection__placeholder {
   font-size:small;
}

.select2-selection__rendered {
   font-size:small;
   font-weight: bold;
   text-transform: capitalize;
}


/* it does not work */
.selectFont{
   font-size:10px;
}

div.leftcol{
   float: left;
   width: 12%;
   padding-top: 200px;
   margin-left: 10px;
}

div.tabDiv{
   max-width: 1200px;
   min-width: 350px;
   margin: 0 auto;
   justify-content: center;
   padding-top: 10px;
}

div.legDiv{
   float: none;
   justify-content: center;
}


td {
   height: 25px;
   width: 25px;
   border: 0.5px solid;
}

p {
   font-size:16px;
   font-weight: bold;
   background-color:#FFFFFF;
}


.infoImage {
   float: none;
   max-height: 100%;
   height:82px;
   cursor: pointer;
   padding-top: 10%;
}


/* tabulator change for ilamb style */

/* table frame settings */
#dashboard-table{
   border-radius: 10px;
   text-align: center;
   border-collapse: collapse;
   border: 1px solid black;
   height: 82vh;
   background: url("../image/lmt-logo.png");
   background-repeat: "no-repeat";
   background-position: center;
}

.tabulator .tabulator-headers {
   border-bottom: 0.0px solid black;
}

.tabulator .tabulator-row:hover {
   font-weight:bold;
   border-bottom: 1.5px solid black;
   border-top: 1.5px solid black;
}



.tabulator{
   font-size: 11px;
   border-color: black;
}

/* Hide all icons by default */
.tabulator-col .tabulator-col-sorter i{
    display: none;
}


.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title{
   white-space: nowrap;
   text-overflow: clip;
   justify-content: center;
   font-size:18px;
   font-weight:300;
   color:black;
   text-shadow: none;
}


/* main row */
.tabulator-row{
   border-collapse: collapse; 
   border-bottom: 0.25px solid black;
   border-top: 0.25px solid black;
}


/* main cell */
.tabulator-row .tabulator-cell{
   border-collapse: collapse; 
   border-right: 0.25px solid black;
   border-left: 0.0px solid black;
   width:30px;
   height:30px;
   padding-top:5px;
   padding-bottom:0;
   padding-left:0;
   padding-right:0;
}


/* row and left col*/
.tabulator-row .tabulator-frozen.tabulator-frozen-left{
   border-right: 0.1px solid black;
   border-left: 0.0px solid black;
   font-size: 18px;
   text-align: left;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left{
   border-right: 0.1px solid black;
   border-left: 0.0px solid black;
   float: inherit;
   vertical-align: middle; 
}

.tabulator .tabulator-header .tabulator-col {
   text-align:center;
   border-right: 0.1px solid black;
   border-left: 0.0px solid black;
   border-bottom: 0.0px solid black;
   border-top: 0.25px solid black;
}


/* calculate bottom */
.tabulator-calcs .tabulator-cell{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items:center;
  justify-content:center;
  font-size:11px;
  font-weight: 600;
  width:30px;
  height:auto;
  overflow:auto;
  padding-top: 20px;
  padding-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
  text-shadow: 0 1px 0 #f3f3f3;
  font-style:italic;
  font-variant:common-ligatures;
}

/* remove the sort icon but still keep sorting function */

.tabulator-arrow {
  display: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: blue;
}


#ck-button {
    position: relative;
    margin-bottom:20px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    width:75%;
}


#ck-button label {
    float:left;
    width:100%;
}

#ck-button label span {
    text-align:center;
    padding:8.75px 8.75px;
    font-size: small;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#38c;
    color:#fff;
    font-weight:600;
}

#file {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: blue;
}

#sidemenuicon {
    font-size:18px;
    cursor:pointer;
    text-align:left;
    display:block; 
    float:left;
    padding-top:10px;
    padding-left:6px;
    color: darkgreen;
    font-weight:600;
}

.margin-r{
    margin-right:10px;
    vertical-align: top;
    line-height:inherit;
    font-size: 11px;
    font-weight: 800;
    padding-right:60px;
    padding-left:10px;
}
.el-switch-style {
    margin-left: 10px;
}

select[class^="select-choice-"]{
    margin-left: 10px;
}


.select2-container .select2-selection--single {
    margin-left: 10px;
}

.togglebutton {
    text-transform: none;
    background-color: #38c;
    color: white;
    text-align:center;
    padding:8.75px 8.75px;
    font-weight:600;
    border-radius:4px;
    border:1px;
    width:75%;
    margin-left:10px;
    font-size:small;
}
